In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing

In [2]:
df = pd.read_csv('data/pizza_sales.csv')
df.shape

(48620, 12)

In [3]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3.0,2.0,five_cheese_l,1.0,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4.0,2.0,ital_supr_l,1.0,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5.0,2.0,mexicana_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  float64
 1   order_id           48620 non-null  float64
 2   pizza_name_id      48620 non-null  object
 3   quantity           48620 non-null  float64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: float64(5), object(7)
memory usage: 4.5+ MB

In [5]:
df.describe()

           pizza_id      order_id      quantity    unit_price   total_price
count  48620.000000  48620.000000  48620.000000  48620.000000  48620.000000
mean   24310.500000  10701.479761      1.019622     16.494132     16.821474
std    14035.529381   6180.119770      0.143077      3.621789      4.437398
min        1.000000      1.000000      1.000000      9.750000      9.750000
25%    12155.750000   5337.000000      1.000000     12.750000     12.750000
50%    24310.500000  10682.500000      1.000000     16.500000     16.500000
75%    36465.250000  16100.000000      1.000000     20.250000     20.500000
max    48620.000000  21350.000000      4.000000     35.950000     83.000000

In [6]:
# Check for null values
null_values = df.isnull().sum()
null_values

pizza_id             0
order_id             0
pizza_name_id        0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [7]:
# Calculate the percentage of missing values in each column
missing_percentage = (df.isnull().mean() * 100).sort_values(ascending=False)
missing_percentage

pizza_id             0.0
order_id             0.0
pizza_name_id        0.0
quantity             0.0
order_date           0.0
order_time           0.0
unit_price           0.0
total_price          0.0
pizza_size           0.0
pizza_category       0.0
pizza_ingredients    0.0
pizza_name           0.0
dtype: float64

In [8]:
accident_data = pd.read_csv('data/road_accident_data.csv')
accident_data.shape

(307973, 21)

In [9]:
accident_data.head()

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200901BS70001,1/1/2021,Thursday,Give way or uncontrolled,T or staggered junction,Serious,51.512273,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,One way street,30,15:11,Urban,Fine no high winds,Car
1,200901BS70002,1/5/2021,Monday,Give way or uncontrolled,Crossroads,Serious,51.514399,Daylight,Kensington and Chelsea,NaN,...,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59,Urban,Fine no high winds,Taxi/Private hire car
2,200901BS70003,1/4/2021,Sunday,Give way or uncontrolled,T or staggered junction,Slight,51.486668,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19,Urban,Fine no high winds,Taxi/Private hire car
3,200901BS70004,1/5/2021,Monday,Auto traffic signal,T or staggered junction,Serious,51.507804,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,8:10,Urban,Other,Motorcycle over 500cc
4,200901BS70005,1/6/2021,Tuesday,Auto traffic signal,Crossroads,Serious,51.482076,Darkness - lights lit,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25,Urban,Fine no high winds,Car

In [10]:
accident_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident_Index              307973 non-null  object
 1   Accident Date               307973 non-null  object
 2   Day_of_Week                 307973 non-null  object
 3   Junction_Control            307973 non-null  object
 4   Junction_Detail             307973 non-null  object
 5   Accident_Severity           307973 non-null  object
 6   Latitude                    307973 non-null  float64
 7   Light_Conditions            307973 non-null  object
 8   Local_Authority_(District)  307973 non-null  object
 9   Carriageway_Hazards         5424 non-null    object
 10  Longitude                   307973 non-null  float64
 11  Number_of_Casualties        307973 non-null  int64
 12  Number_of_Vehicles          307973 non-null  int64
 13  Police_Force                307973 non-null  object
 14  Road_Surface_Conditions     307656 non-null  object
 15  Road_Type                   306439 non-null  object
 16  Speed_limit                 307973 non-null  int64
 17  Time                        307956 non-null  object
 18  Urban_or_Rural_Area         307973 non-null  object
 19  Weather_Conditions          301916 non-null  object
 20  Vehicle_Type                307973 non-null  object
dtypes: float64(2), int64(3), object(16)
memory usage: 49.3+ MB

In [16]:
# Calculate the percentage of missing values in each column
missing_percentage_accident = (accident_data.isnull().mean() * 100).sort_values(ascending=False).round(2).loc[lambda x: x > 0.0]
missing_percentage_accident

Carriageway_Hazards        98.24
Weather_Conditions          1.97
Road_Type                   0.50
Road_Surface_Conditions     0.10
Time                        0.01
dtype: float64

In [18]:
accident_data['Weather_Conditions'].value_counts()

Weather_Conditions
Fine no high winds       244496
Raining no high winds     34877
Other                      8802
Snowing no high winds      4839
Raining + high winds       3526
Fine + high winds          3148
Fog or mist                1690
Snowing + high winds        538
Name: count, dtype: int64

In [20]:
accident_data[accident_data['Weather_Conditions'].isna()]

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
761,200901CP00129,5/15/2021,Friday,Auto traffic signal,Crossroads,Fetal,51.518229,Daylight,Camden,NaN,...,1,1,Metropolitan Police,Wet or damp,Single carriageway,30,6:55,Urban,NaN,Car
972,200901CW10065,1/29/2021,Thursday,Auto traffic signal,Crossroads,Slight,51.515218,Daylight,Westminster,NaN,...,1,1,Metropolitan Police,Dry,Single carriageway,30,18:34,Urban,NaN,Motorcycle over 125cc and up to 500cc
1005,200901CW10111,2/6/2021,Friday,Auto traffic signal,More than 4 arms (not roundabout),Slight,51.556794,Darkness - lights lit,Islington,NaN,...,1,2,Metropolitan Police,Wet or damp,Single carriageway,30,18:25,Urban,NaN,Car
1059,200901CW10179,1/11/2021,Sunday,Auto traffic signal,T or staggered junction,Slight,51.539230,Darkness - lights lit,Camden,NaN,...,1,1,Metropolitan Police,Wet or damp,One way street,30,0:41,Urban,NaN,Car
1089,200901CW10224,1/30/2021,Friday,Data missing or out of range,Not at junction or within 20 metres,Fatal,51.537504,Daylight,Camden,NaN,...,1,1,Metropolitan Police,Dry,Single carriageway,30,11:00,Urban,NaN,Motorcycle over 500cc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307341,201063DP08310,3/24/2022,Wednesday,Data missing or out of range,Not at junction or within 20 metres,Slight,51.874490,Darkness - no lighting,Powys,NaN,...,1,2,Dyfed-Powys,Wet or damp,Single carriageway,30,19:00,Rural,NaN,Car
307376,201063DP11810,5/5/2022,Wednesday,Give way or uncontrolled,Private drive or entrance,Slight,52.525846,Daylight,Powys,NaN,...,1,2,Dyfed-Powys,Dry,Single carriageway,60,15:30,Rural,NaN,Motorcycle over 500cc
307389,201063DP13210,3/31/2022,Wednesday,Give way or uncontrolled,T or staggered junction,Slight,51.866983,Daylight,Powys,NaN,...,1,3,Dyfed-Powys,Dry,Single carriageway,60,8:00,Rural,NaN,Car
307536,201063DP28310,8/26/2022,Thursday,Data missing or out of range,Not at junction or within 20 metres,Slight,52.329657,Daylight,Powys,NaN,...,1,2,Dyfed-Powys,Dry,Single carriageway,60,7:00,Rural,NaN,Car
307943,201091NL06425,11/16/2022,Tuesday,Give way or uncontrolled,T or staggered junction,Slight,60.189955,Darkness - no lighting,Shetland Islands,NaN,...,1,2,Northern,Dry,Single carriageway,60,22:20,Rural,NaN,Car

In [21]:
apple_quality = pd.read_csv('data/apple_quality.csv')
apple_quality.shape

(4001, 9)

In [22]:
apple_quality.head()

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0.0,-3.970049,-2.512336,5.346330,-1.012009,1.844900,0.329840,-0.491590483,good
1,1.0,-1.195217,-2.839257,3.664059,1.588232,0.853286,0.867530,-0.722809367,good
2,2.0,-0.292024,-1.351282,-1.738429,-0.342616,2.838636,-0.038033,2.621636473,bad
3,3.0,-0.657196,-2.271627,1.324874,-0.097875,3.637970,-3.413761,0.790723217,good
4,4.0,1.364217,-1.296612,-0.384658,-0.553006,3.030874,-1.303849,0.501984036,good

* **A_id**: Unique identifier for each fruit
* **Size**: Size of the fruit
* **Weight**: Weight of the fruit
* **Sweetness**: Degree of sweetness of the fruit
* **Crunchiness**: Texture indicating the crunchiness of the fruit
* **Juiciness**: Level of juiciness of the fruit
* **Ripeness**: Stage of ripeness of the fruit
* **Acidity**: Acidity level of the fruit
* **Quality**: Overall quality of the fruit

In [23]:
apple_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   A_id         4000 non-null   float64
 1   Size         4000 non-null   float64
 2   Weight       4000 non-null   float64
 3   Sweetness    4000 non-null   float64
 4   Crunchiness  4000 non-null   float64
 5   Juiciness    4000 non-null   float64
 6   Ripeness     4000 non-null   float64
 7   Acidity      4001 non-null   object
 8   Quality      4000 non-null   object
dtypes: float64(7), object(2)
memory usage: 281.4+ KB

In [24]:
type(apple_quality['Acidity'][0])

str

In [31]:
# Check if 'Acidity' contains characters other than the minus sign
has_invalid_chars = apple_quality['Acidity'].str.contains('[^-0-9]', regex=True)
has_invalid_chars

0       True
1       True
2       True
3       True
4       True
        ...
3996    True
3997    True
3998    True
3999    True
4000    True
Name: Acidity, Length: 4001, dtype: bool

In [26]:
# Convert 'Acidity' to float
apple_quality['Acidity'] = apple_quality['Acidity'].astype(float)
type(apple_quality['Acidity'][0])

ValueError: could not convert string to float: 'Created_by_Nidula_Elgiriyewithana'

### Date and Time Features:
* Extract day of the week from the `order_date`.
* Extract month from the `order_date`.
* Divide the day into time slots (morning, afternoon, evening, night) based on `order_date`.

In [ ]:
df['order_time'].head()

In [ ]:
df['order_date'].head()

In [ ]:
# Check if any date contains "-"
has_dash = df['order_date'].str.contains('-')
df[has_dash]

In [ ]:
# Replace "-" with "/"
df['order_date'] = df['order_date'].str.replace('-', '/')

In [ ]:
# Check if any date contains "-"
has_dash = df['order_date'].str.contains('-')
df[has_dash]

In [ ]:
# Convert to datetime with errors='coerce'
df['order_date'] = pd.to_datetime(df['order_date'], format='%d/%m/%Y', errors='coerce')

In [ ]:
# Find rows where the date doesn't match the format
invalid_date_rows = df[df['order_date'].isna()]
invalid_date_rows

In [ ]:
df['day_of_week'] = df['order_date'].dt.day_name()

In [ ]:
df['day_of_week'].head()

In [ ]:
df['month'] = df['order_date'].dt.month

In [ ]:
df['month'].head()

In [ ]:
# Check if time has characters other than colon
invalid_time_rows = df[df['order_time'].str.contains('[^:0-9]')]
invalid_time_rows

In [ ]:
type(df['order_time'][0])

In [ ]:
# Convert 'order_time' to datetime
df['order_time'] = pd.to_datetime(df['order_time'], format='%H:%M:%S')

# Extract total seconds since midnight
df['total_seconds'] = (df['order_time'].dt.hour * 3600 + df['order_time'].dt.minute * 60 + df['order_time'].dt.second)

# Perform binning using pd.cut
df['time_slot'] = pd.cut(df['total_seconds'], bins=[0, 6 * 3600, 12 * 3600, 18 * 3600, 24 * 3600], labels=['night', 'morning', 'afternoon', 'evening'])

# Drop intermediate column 'total_seconds' if needed
df = df.drop(columns=['total_seconds'])

In [ ]:
df['time_slot'].head()

In [ ]:
df['time_slot'].value_counts()

In [ ]:
# Find store opening and closing time
store_opening_time = df['order_time'].min().time()
store_closing_time = df['order_time'].max().time()

print(f"Store Opening Time: {store_opening_time}")
print(f"Store Closing Time: {store_closing_time}")

In [ ]:
df[df['time_slot'] == 'night']

In [ ]:
# Drop rows where 'time_slot' is 'night'
df = df[df['time_slot'] != 'night']
df.shape

In [ ]:
# Normalize the 'time_slot' strings
df['time_slot'] = df['time_slot'].str.lower().str.strip()

In [ ]:
df['time_slot'].value_counts()

### Total Price Features:
* Calculate the average price per unit for each pizza variant.
* Calculate the total order price per unit.

In [ ]:
df['avg_price_per_unit'] = df['total_price'] / df['quantity']
df['total_order_price'] = df.groupby('order_id')['total_price'].transform('sum')

### Pizza Size Encoding:
* Convert categorical `pizza_size` into numerical values

In [ ]:
df['pizza_size'].value_counts()

In [ ]:
label_encoder = preprocessing.LabelEncoder() 
df['pizza_size_encoded']= label_encoder.fit_transform(df['pizza_size'])
df['pizza_size_encoded'].value_counts()

### Pizza Ingredient Count:
* Create a feature representing the number of ingredients in each pizza.

In [ ]:
df['num_ingredients'] = df['pizza_ingredients'].apply(lambda x: len(x.split(',')))
df.head()

### Pizza Name Length:
* Create a feature representing the length of the pizza name

In [ ]:
df['pizza_name_length'] = df['pizza_name'].apply(len)

### Categorical Encoding:
* Encode categorical variables like pizza_category using one-hot encoding.

In [ ]:
df['pizza_category'].value_counts()

In [ ]:
# Convert 'pizza_category' values to lowercase
df['pizza_category'] = df['pizza_category'].str.lower()

In [ ]:
# One-Hot Encoding
df = pd.get_dummies(df, columns=['pizza_category'], dtype=int)
df.head()

### Time Since Last Order:
* Calculate the time elapsed since the last order for each customer.

In [ ]:
df.sort_values(by=['order_date', 'order_time'], inplace=True)
df.head(40)

In [ ]:
df.sort_values(by=['order_date', 'order_time'], inplace=True)
df['time_since_last_order'] = df.groupby('customer_id')['order_date'].diff().dt.days
df.head()